@page "/"
@using BookMgtSystem.Models
<EditForm Model="books" OnValidSubmit="submitForm">
    
    <label>Title</label>
    <InputText @bind-value="@book.Title" class="form-control"/>

    <label>Description</label>
    <InputText @bind-value="@book.Description" class="form-control"/>

    <label>Author</label>
    <InputText @bind-value="@book.Author" class="form-control"/>

    <button type="submit" class=" mt-3 btn btn-primary">SUBMIT</button>

</EditForm>

@code {
    public Books book = new Books();

    private void submitForm()
    {
        Console.WriteLine(book.Title);
        Console.WriteLine(book.Description);
        Console.WriteLine(book.Author);

    }
}
